<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gigbot</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/bootstrap-datetimepicker.min.css">
    </head>
    <body>
        {{{body}}}

        <script src="jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="moment.js"></script>
        <script src="moment-with-locales.js"></script>
        <script src="bootstrap-datetimepicker.min.js"></script>
        <script src="parsley.min.js"></script>
        <script src="autosize.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>