{{> header}}

<div class="container gigs">
    <div class="row">
        <div class="col-md-12">
            <h1>Gigs</h1>
        </div>
        <div class="col-md-9">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#confirmed" aria-controls="confirmed" role="tab" data-toggle="pill">Bevestigd</a>
                </li>
                <li role="presentation">
                    <a href="#options" aria-controls="options" role="tab" data-toggle="pill">Opties</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="confirmed">
                    {{#each confirmedGigs}}
                        {{> gig}}
                    {{/each}}
                </div>
                <div role="tabpanel" class="tab-pane" id="options">
                    {{#each optionGigs}}
                        {{> gig}}
                    {{/each}}
                </div>
            </div>

        </div>
        <div class="col-md-3 new-gig">
            <form class="form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Zoeken naar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
            <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#newGigModal"><span class="glyphicon glyphicon-plus"></span> Nieuwe gig</button>
            <p>Vet man, nieuwe gigs inplannen, you rock!</p>
            <hr>
            {{#each settings.links}}
                <p><a href="{{url}}">{{title}}</a></p>
            {{/each}}
        </div>
    </div>
</div>

{{> gigForm}}
