body {
    background-color: #F0F0F0;
    padding-top: 50px;
}

/*
 * Gigs
 */
.gig {
    position: relative;
}
.gig h4 {
    margin: 0;
}
.gig h5 {
    margin-bottom: 0;
}
.gig .panel-heading {
    border-bottom: 1px solid #eee;
}
.gig .confirmed {
    position: absolute;
    top: 7px;
    right: 7px;
}
.gig button {
    margin-left: 10px;
}
.new-gig > button{
    margin: 15px 0;
}
.new-gig p{
    font-style: italic;
    color: #BBB;
}

/*
 *  New/update gig modal
 */
.edit-modal textarea {
    white-space: pre-line;
}

/*
 * Parsley
 */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}
.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
    opacity: 1;
}
