body {
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
    padding-top: 50px;
}

/*
 * Gigs
 */
.gig {
    position: relative;
}
.gig h4 {
    margin: 0;
}
.gig h5 {
    margin-bottom: 0;
}
.gig .panel-heading {
    border-bottom: 1px solid #eee;
}
.panel-footer {
    background-color: #FBFBFB;
    border-top: 1px solid #F1F1F1;
}
.gig .confirmed {
    margin: 5px 0 0 -16px;
}
.gig .confirmed span {
    padding-left: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.gig p {
    white-space: pre-wrap;
}
.gig .edit-buttons button {
    margin-left: 10px;
}
.gig .btn-request {
    margin-top: 10px;
}

.gig .availability {
    position: absolute;
    top: 5px;
    right: 5px;
}
.gig .availability .icon-unknown {
    color: #CCC;
}
.gig .availability .icon-no {
    color: #FF0000;
}
.gig .availability .icon-yes {
    color: #65d865;
}

/* collapsing */
.gig .chevron span{
    top: 2px;
}
.gig .chevron {
    float: left;
    padding: 5px 0;
    color: #B1B1B1;
    transition: transform 250ms ease;
    transform: rotate(-180deg);
}
.gig .panel-body {
    transition: padding-top 150ms ease, padding-bottom 150ms ease, opacity 200ms ease;
}
.gig.collapsed .chevron {
    transform: rotate(0deg);
}
.gig.collapsed .panel-heading {
    border-bottom: none;
}
.gig.collapsed .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

hr {
    border-top-color: #e2e2e2;
}

.new-gig > button{
    margin: 15px 0;
}
.new-gig p{
    font-style: italic;
    color: #BBB;
}

/*
 *  New/update gig modal
 */
.edit-modal textarea {
    white-space: pre-line;
}
.edit-modal .availability-label {
    display: inline-block;
    width: 65px;
    margin-bottom: 7px;
    text-transform: capitalize;
}

/*
 * Parsley
 */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}
.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.parsley-errors-list.filled {
    opacity: 1;
}
